body{
    margin: 0%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
input{
    border-color: rgb(44, 241, 44);
    width: 250px;
    border-style: solid;
    width: 100%;
padding: 5px;    border-radius: 6px;
    box-sizing: border-box;
}
button{
color: aliceblue;
background: rgb(24, 223, 17);
padding: 5px 11px;
border: 0px;
margin-top: 5px;
border-radius: 3px;
}

